<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numble.AccountMapper">
	
	<select id="selectById" resultType="Account">
		select * from accounts where id = #{id}
	</select>
	
	<select id="selectAll" resultType="Account">
		select * from accounts
	</select>
	
	<insert id="insert">
		insert into accounts (id, user_id, bank, account_number, balance) values
		(#{id}, #{user_id}, #{bank}, #{account_number}, #{balance})
	</insert>
	
	<update id="update">
		update accounts set id=#{id}, user_id=#{user_id}, bank=#{bank}, account_number=#{account_number}, balance=#{balance}
		where id=#{id}
	</update>
	
	<delete id="delete">
		delete from accounts where id = #{id}
	</delete>

	
</mapper>